.projectsContainer {
  background-color: #fffaff;
  height: 95vh;
  /* padding: 0 30px; */
  width: 100%;
}

.projectsContainer h2 {
  visibility: hidden;
  font-size: 9.375rem;
  line-height: 7.5rem;
  font-weight: 300;
  padding-left: 50px;
  letter-spacing: 0.9375rem;
  margin: 0;
  color: #0a2463;
}

.projects {
  padding: 20px;
  margin: 0 20px;
  border: solid 3px #3e92cc;
}

.projects:hover {
  box-shadow: 5px 5px 0px #0a2463;
}

.projects img {
  height: 20rem;
  width: 15.625rem;
  display: block;
}

.projects h3 {
  width: 230px;
  font-size: 1.5625rem;
  margin: 10px 0 10px 0;
  color: #0a2463;
  text-align: left;
}

.projects p {
  font-size: 0.9375rem;
  margin: 0;
  width: 250px;
  color: #0a2463;
  text-align: left;
}

.projectsCards {
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

/* Fade In Effects  */

.projectsFadeInLeft {
  -webkit-animation: projectsFadeInLeft 1.2s both;
  -moz-animation: projectsFadeInLeft 1.2s both;
  -o-animation: projectsFadeInLeft 1.2s both;
  animation: projectsFadeInLeft 1.2s both;
}

@-webkit-keyframes projectsFadeInLeft {
  0% {
    visibility: visible;
    opacity: 0;
    -webkit-transform: translateX(-50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes projectsFadeInLeft {
  0% {
    visibility: visible;
    opacity: 0;
    -moz-transform: translateX(-50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes projectsFadeInLeft {
  0% {
    visibility: visible;
    opacity: 0;
    -o-transform: translateX(-50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes projectsFadeInLeft {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

.projectsFadeInRight {
  -webkit-animation: projectsFadeInRight 1.2s both;
  -moz-animation: projectsFadeInRight 1.2s both;
  -o-animation: projectsFadeInRight 1.2s both;
  animation: projectsFadeInRight 1.2s both;
}

@-webkit-keyframes projectsFadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes projectsFadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes projectsFadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes projectsFadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}
