.helloContainer {
  margin: auto 0;
  height: 95vh;
  padding: 30px 30px;
  display: flex;
  align-items: center;
  background-size: cover;
  background: linear-gradient(-45deg, #3e92cc, #0a2463, #d8315b);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  width: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.helloContent {
  margin: 5rem 0;
}

.helloContainer h2 {
  padding-left: 90px;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 0.13rem;
  margin: 0;
  color: #3e92cc;
}

.helloContainer h1 {
  font-size: 9.375rem;
  margin: 0;
  font-family: "Poiret One", cursive;
  font-weight: lighter;
  letter-spacing: 1.57rem;
  padding-left: 90px;
  color: #fffaff;
}

.helloContainer h3 {
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  letter-spacing: 0.31rem;
  font-size: 2.5rem;
  margin: 0;
  color: #3e92cc;
  padding-left: 90px;
}
