.skillsContainer {
  background-color: #274c77;
  height: 90vh;
  width: 100%;
}

.parallax {
  visibility: hidden;
  margin: auto;
  position: relative;
  bottom: 120px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  height: 94%;
  padding: 20px;
}

.skillsContainer h2 {
  visibility: hidden;
  padding-right: 50px;
  line-height: 7.5rem;
  text-align: right;
  font-size: 9.375rem;
  font-weight: 300;
  letter-spacing: 0.9375rem;
  margin: 0;
  color: #fffaff;
}

/* Icons  */

.reactIcon {
  height: 7.5rem;
  position: relative;
  bottom: 20px;
  left: 80px;
  transform: rotate(25deg);
}

.reactIcon:hover {
  height: 7.8125rem;
}

.bootstrapIcon {
  height: 6.25rem;
  position: relative;
  top: 100px;
  left: 50px;
  transform: rotate(25deg);
}

.bootstrapIcon:hover {
  height: 6.5625rem;
}
.cssIcon {
  height: 6.25rem;
  position: relative;
  top: -50px;
  transform: rotate(-25deg);
}

.cssIcon:hover {
  height: 6.5625rem;
}

.expressIcon {
  height: 5rem;
  position: relative;
  top: 60px;
  left: 20px;
  transform: rotate(25deg);
}

.expressIcon:hover {
  height: 5.3125rem;
}

.htmlIcon {
  height: 8.125rem;
  position: relative;
  top: 80px;
  right: 40px;
  transform: rotate(10deg);
}

.htmlIcon:hover {
  height: 8.375rem;
}

.javascriptIcon {
  height: 6.25rem;
  position: relative;
  bottom: 40px;
  left: 40px;
  transform: rotate(-10deg);
}

.javascriptIcon:hover {
  height: 6.5625rem;
}

.materialuiIcon {
  height: 6.25rem;
  position: relative;
  top: 60px;
  left: 80px;
  transform: rotate(-5deg);
}

.materialuiIcon:hover {
  height: 6.5625rem;
}

.mongodbIcon {
  height: 5rem;
  position: relative;
  bottom: 100px;
  left: 80px;
  transform: rotate(25deg);
}

.mongodbIcon:hover {
  height: 5.3125rem;
}

.nodeIcon {
  height: 3.5rem;
  position: relative;
  top: 20px;
  right: 20px;
  transform: rotate(5deg);
}

.nodeIcon:hover {
  height: 3.8rem;
}

.githubIcon {
  height: 6.25rem;
  position: relative;
  top: 40px;
  right: 30px;
  transform: rotate(5deg);
}

.githubIcon:hover {
  height: 6.5625rem;
}

/* Fade In Effects  */

.skillsFadeInLeft {
  -webkit-animation: skillsFadeInLeft 1.2s both;
  -moz-animation: skillsFadeInLeft 1.2s both;
  -o-animation: skillsFadeInLeft 1.2s both;
  animation: skillsFadeInLeft 1.2s both;
}

@-webkit-keyframes skillsFadeInLeft {
  0% {
    visibility: visible;
    opacity: 0;
    -webkit-transform: translateX(-50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes skillsFadeInLeft {
  0% {
    visibility: visible;
    opacity: 0;
    -moz-transform: translateX(-50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes skillsFadeInLeft {
  0% {
    visibility: visible;
    opacity: 0;
    -o-transform: translateX(-50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes skillsFadeInLeft {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

.skillsFadeInRight {
  -webkit-animation: skillsFadeInRight 1.2s both;
  -moz-animation: skillsFadeInRight 1.2s both;
  -o-animation: skillsFadeInRight 1.2s both;
  animation: skillsFadeInRight 1.2s both;
}

@-webkit-keyframes skillsFadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes skillsFadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes skillsFadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes skillsFadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

/* iPad Air 820 x 1180  */

@media (max-width: 820px) {
  .skillsContainer {
    height: 95vh;
    width: 100%;
  }

  .parallax {
    bottom: 10px;
  }

  .skillsContainer h2 {
    line-height: 10rem;
    font-size: 8.5rem;
  }

  /* Icons  */

  .reactIcon {
    bottom: 200px;
    left: 40px;
  }

  .bootstrapIcon {
    top: 130px;
    left: -40px;
  }

  .expressIcon {
    top: -150px;
    left: 60px;
  }

  .javascriptIcon {
    bottom: 100px;
    left: 40px;
  }

  .materialuiIcon {
    top: 50px;
    left: 120px;
  }

  .mongodbIcon {
    bottom: 340px;
    left: 80px;
  }
  .nodeIcon {
    top: -130px;
    right: 100px;
  }

  .githubIcon {
    top: -60px;
    right: 30px;
  }
}

/* iPhone 11 Pro Max / XR 414 x 896  */

@media (max-width: 414px) {
  .skillsContainer h2 {
    margin-top: 5px;
    line-height: 3.5rem;
    font-size: 3.5rem;
    padding-right: 0px;
  }
  .parallax {
    height: 85vh;
    margin-top: 10px;
  }

  /* Icons  */

  .reactIcon {
    height: 4rem;
    bottom: 110px;
    left: 40px;
  }

  .reactIcon:hover {
    height: 4.3rem;
  }

  .bootstrapIcon {
    height: 4rem;
    top: 130px;
    left: -70px;
  }

  .bootstrapIcon:hover {
    height: 4.3rem;
  }
  .cssIcon {
    height: 4.5rem;
    top: -10px;
    left: 20px;
  }

  .cssIcon:hover {
    height: 4.8rem;
  }

  .expressIcon {
    height: 4rem;
    top: -130px;
    left: 50px;
  }

  .expressIcon:hover {
    height: 4.3rem;
  }

  .javascriptIcon {
    height: 4rem;
    bottom: -30px;
    left: 30px;
  }

  .javascriptIcon:hover {
    height: 4.3rem;
  }

  .materialuiIcon {
    height: 3.5rem;
    top: 150px;
    left: 120px;
  }

  .materialuiIcon:hover {
    height: 3.8rem;
  }

  .mongodbIcon {
    height: 3.5rem;
    bottom: 230px;
    left: 30px;
  }

  .mongodbIcon:hover {
    height: 3.8rem;
  }

  .nodeIcon {
    height: 2rem;
    top: -100px;
    right: 90px;
  }

  .nodeIcon:hover {
    height: 2.3rem;
  }

  .githubIcon {
    height: 3.5rem;
    top: 10px;
    right: 40px;
  }

  .githubIcon:hover {
    height: 3.8rem;
  }

  .htmlIcon {
    height: 4rem;
    top: 80px;
    right: 20px;
  }

  .htmlIcon:hover {
    height: 4.3rem;
  }
}


/* iPhone 12 Pro / 13 Pro 390 x 844  */

@media (max-width: 390px) {
  .skillsContainer h2 {
    margin-top: 5px;
    line-height: 3.5rem;
    font-size: 3.5rem;
    padding-right: 0px;
  }
  .parallax {
    height: 85vh;
    margin-top: 10px;
  }

  /* Icons  */

  .reactIcon {
    height: 4rem;
    bottom: 110px;
    left: 40px;
  }

  .reactIcon:hover {
    height: 4.3rem;
  }

  .bootstrapIcon {
    height: 4rem;
    top: 130px;
    left: -70px;
  }

  .bootstrapIcon:hover {
    height: 4.3rem;
  }
  .cssIcon {
    height: 4.5rem;
    top: -10px;
    left: 20px;
  }

  .cssIcon:hover {
    height: 4.8rem;
  }

  .expressIcon {
    height: 4rem;
    top: -130px;
    left: 50px;
  }

  .expressIcon:hover {
    height: 4.3rem;
  }

  .javascriptIcon {
    height: 4rem;
    bottom: -30px;
    left: 30px;
  }

  .javascriptIcon:hover {
    height: 4.3rem;
  }

  .materialuiIcon {
    height: 3.5rem;
    top: 150px;
    left: 120px;
  }

  .materialuiIcon:hover {
    height: 3.8rem;
  }

  .mongodbIcon {
    height: 3.5rem;
    bottom: 230px;
    left: 30px;
  }

  .mongodbIcon:hover {
    height: 3.8rem;
  }

  .nodeIcon {
    height: 2rem;
    top: -100px;
    right: 90px;
  }

  .nodeIcon:hover {
    height: 2.3rem;
  }

  .githubIcon {
    height: 3.5rem;
    top: 10px;
    right: 40px;
  }

  .githubIcon:hover {
    height: 3.8rem;
  }

  .htmlIcon {
    height: 4rem;
    top: 80px;
    right: 20px;
  }

  .htmlIcon:hover {
    height: 4.3rem;
  }
}

