.tm {
  margin: 20px;
  cursor: pointer;
}
.tm span {
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-decoration: none;
  cursor: pointer;
}

.spanT:hover {
  font-weight: lighter;
}

.spanM:hover {
  font-weight: lighter;
}
