.contactContainer {
  height: max-content;
  padding: 30px 30px;
  background-color: #274c77;
}

.contactContent p {
  font-size: 1.3125rem;
  text-align: center;
  width: 70%;
  margin: 0px auto;
  color: #fffaff;
}

.contactIcons {
  text-align: center;
  margin: 20px 0;
}

.contactIcons img {
  width: 40px;
  margin: 0 20px;
}

.copyright p {
  text-align: center;
  margin: auto;
  margin-top: 1%;
  color: #fffaff;
}

.githubIcon {
  color: #cfcfcf;
}

/* iPad Air 820 x 1180  */

@media (max-width: 820px) {
  .contactContainer {
    height: fit-content;
    padding: 35px 25px;
  }
  .contactContent {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .contactContainer p {
    margin: 0px;
    width: 90%;
    margin: 0px auto;
    font-size: 1rem;
  }

  .copyright p {
    margin: auto;
    margin-top: 1%;
  }

  .contactIcons {
    margin-top: 30px;
  }
}

/* iPhone 11 Pro Max / XR 414 x 896  */

@media (max-width: 414px) {
  .contactContainer {
    height: fit-content;
    padding: 25px 20px;
  }
  .contactContainer p {
    font-size: 0.9rem;
    margin: 0px auto;
    width: 95%;
  }

  .contactIcons {
    margin: 20px 0;
  }
  .contactIcons img {
    width: 30px;
  }
}

/* iPhone 13 Pro 390 x 844  */

@media (max-width: 390px) {
  .contactContainer {
    height: fit-content;
    padding: 25px 20px;
  }
  .contactContainer p {
    font-size: 0.6rem;
    margin: 0px auto;
    width: 95%;
  }

  .contactIcons {
    margin: 15px 0;
  }
  .contactIcons img {
    width: 30px;
  }
}
