.contactContainer {
  background-image: url("./../../assets/images/contact-me-background.png");
  height: 50vh;
  padding: 0 30px;
}

.contactContainer h2 {
  line-height: 7.5rem;
  text-align: right;
  font-size: 9.375rem;
  font-weight: 300;
  letter-spacing: 0.9375rem;
  margin: 0;
  color: rgb(89, 89, 89);
}
.contactContent {
  height: 50%;
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.contactContainer p {
  font-size: 1.3125rem;
  width: 50%;
  margin-left: 90px;
  margin-top: 40px;
  color: rgb(89, 89, 89);
}

.contactIcons {
  display: flex;
  justify-content: center;
  width: 50%;
}

.contactIcons img {
  width: 50px;
  padding: 0 40px;
}

.copyright p {
  text-align: center;
  margin: 3% auto;
}
