.contactContainer {
  height: 25vh;
  padding: 30px 30px;
  background-color: #274c77;
}

.contactContent {
  display: flex;
  align-items: center;
}

.contactContainer p {
  font-size: 1.3125rem;
  width: 50%;
  margin-left: 90px;
  margin-top: 40px;
  color: #FFFAFF;
}

.contactIcons {
  display: flex;
  justify-content: center;
  width: 50%;
}

.contactIcons img {
  width: 50px;
  padding: 0 40px;
}

.copyright p {
  text-align: center;
  margin: auto;
  margin-top: 1%;
}

.githubIcon {
  color: #cfcfcf;
}
