:root {
  --color1-dark: #334d70;
  --color2-medium: #98c1d9;
  --color3-light: #e0fbfc;
  --color4: #d8315b;
  --white: #ffffff;
  --black: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1.5px;
  max-width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}
